.App {
  text-align: left;
}

.App-header {
  background-color: #6d1515;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}


.final {
  width: 90%;
  height: 100%;
  border-radius: 5px;
  background-color: bisque;
  box-shadow: 10px 5px 5px 10px black;
  
}

.titles {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px 25px 25px 25px;
}

.content {
  font-family: 'Times New Roman', Times, serif;
  margin-left: 15px;
  margin-right: 15px;
}

.modules {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: left;
  border-collapse: collapse;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.modules td, th {
  padding: 5px 5px 5px 5px;
  border-right: #6b0707 solid 1px;
  border-left: #6b0707 solid 1px;
  border-top: #6b0707 solid 1px;
  border-bottom: #6b0707 solid 1px;

}

.body{
  background-color: #282c34;

}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

h4{
  font-family: 'Times New Roman', Times, serif;
  border-top: #6b0707 solid 3px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dropDown {
  color: #6b0707;
  padding-bottom: 15px;
}
